#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/tiagofmmacedo/tools/balena-etcher-electron-1.7.9-linux-x64/balenaEtcher-1.7.9-x64.AppImage
Name=Balena
Comment=
Icon=/home/tiagofmmacedo/tools/balena-etcher-electron-1.7.9-linux-x64/balena.png
