#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/tiagofmmacedo/tools/Autodesk_EAGLE_9.6.2_English_Linux_64bit/eagle-9.6.2/eagle
Name=Eagle
Comment=
Icon=/home/tiagofmmacedo/tools/Autodesk_EAGLE_9.6.2_English_Linux_64bit/eagle-9.6.2/bin/eagle-logo.png